/*Importando fonte do google fonts pelo css*/
/*@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

}


body {
    /*background-color: hsl(225, 100%, 98%);*/
    background-color: hsla(213, 51%, 86%, 0.87);
    width: 100%; /*largura de 100% da página*/
    height: 100vh; /*altura total da página*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; /*para escolar da borda*/



}

/*container com a figura e texto*/
main { 
    background-color: #fff; /*fundo branco*/
    /*background-color: red;*/
    max-width: 26rem; /*416px*/
    justify-content: center;
    border-radius: 1rem;
    padding-bottom: 1rem;   



}

div {
    /*text-align: center;*/
    /*padding-top: 8rem;*/
  
    
}

img {
    width: 13rem;
    /*width: 100%;*/
    /*border-radius: 1rem 1rem 0 0; /*arredonda só as bordas de cima*/
    border-radius: 6px;
    margin: 1rem;
    

}

/*textos abaixo da img*/
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

h1 {
    font-size: 1rem ;
    padding: 1rem;


}

.descrição {
    font-size: .8rem;

}




























/*Esse trabalho foi feito por Luciene Lima*/